.App-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #141414;
}

.layout-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  box-sizing: border-box;
}